.media{
    display: flex;
    background-color: grey;
    border: 3px black solid;
    justify-content: space-around;
    width: 60%;

}
.control{
    display: flex;
    align-items: center;
}

.has-addons{
    display: flex;
}
.image img{
    height: 64px;
    width: 64px;
}
.box{
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.is-info{
    height: 19px;
    width: 20px;
    padding: 0;
    border-radius: 0 2px 2px 0;
    position: relative;
    right: 3px;
}
